.fading{
    
    
}

.fading{
    animation:fade 1.4s infinite;
}

@keyframes fade {

    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(40px);
        opacity:0;
    }
    
}