.facebook-icon:hover{
    background-color: #1877F2;
    transform: scale(1.2);
    
}
.hello:hover{
    background-color:white;
    transform: scale(1.2);
    
}
.google-icon:hover{
    background-color: red;
    transform: scale(1.2);
   
}

.linkedin-icon:hover{
    background-color: #0a66c2;
    transform: scale(1.2);
    
}

.twitter-icon:hover{
    background-color: #1DA1F2;
    transform: scale(1.1);
}

