@media (min-width:700px){
     .w-full-2,.w-full-3,.w-full-4{
        width:calc(100%/2);
     }
     .flex-column{
        flex-direction: row;
        visibility:visible;
     }
}
@media (min-width:900px){
    .w-full-4, .w-full-3{
        width:calc(100%/3);
    }
    
}
@media (min-width:1150px){
    .w-full-4{
        width:calc(100%/4);
    }
}

