@media (min-width:800px){
     .w-full-2,.w-full-3,.w-full-4{
        width:calc(100%/2);
     }
     .flex-column{
        flex-direction: row;
        visibility:visible;
     }
     .landing h3{
        font-size:26px;
    }
    .landing h2{
        font-size:40px;
    }
}
@media (min-width:1000px){
    .w-full-4, .w-full-3{
        width:calc(100%/3);
    }
    .landing h3{
        font-size:28px;
    }
    .landing h2{
        font-size:45px;
    }
    
}
@media (min-width:1200px){
    .w-full-4{
        width:calc(100%/4);
    }
    .landing h3{
        font-size:32px;
    }
    .landing h2{
        font-size:50px;
    }
}

